<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
  <div class="col-md-6 bg_primry">
<center><h1>Create an Article</h1></center>
<%= render partial: 'form' %>


</div>

<div class="col-md-3">
    </div>

</div>  
</div>